#navbar {
  width: 100%;
  height: 100%;
  background-color: rgb(111, 196, 78);
}
.link {
  background-color: transparent;
  padding: 1px 1px;
  color: black;
  transition: 0.5s;
  font-size: 2vw;
  margin-top: 5%;
  margin-left:5%;
  text-decoration: none;
  border-color: transparent;
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.link:hover {
  background-color: transparent;
  color: white;
  border-color: transparent;
  padding: 1px 1px;
  transition: 0.5s;
  font-size: 2vw;
  margin-top: 5%;
  margin-left:5%;
  text-decoration: none;
  border-color: transparent;
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#logo {
  width: 12%;
  margin: 2vh;
  display: inline-block;
  vertical-align: top;
}
#table{
    width:85%;
    margin:5% 10% 0px 7%;
}
